/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Mes Changements ***********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgLogo {
    width: 61.09px;
    height: 19px;
    margin-left: -25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 19px;
    gap: 80px;
    
}

nav a {
    text-decoration: none;
    font-size: 100%;
    color: black;
}

nav a:hover {
    color:#0065FC;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    border: solid 2px #0065FC;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.f-title {
    margin-bottom: 1%;
}

.subtitle {
    font-size: 110%;
    margin-top: 5px;
}

.loc-icon {
    background-color: #F2F2F2;
    border: #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search::placeholder {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.search-bar {
    padding-left: 2%;
    border: solid 2px #F2F2F2;
    border-right-style: none;
}

.search-button {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border-color: #0065FC;
}

.search-text {
    color: white;
    font-weight: bold;
    font-size: 120%;
}

.hidden-icon {
    display: none;
}

form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 2%;
}

html, body {
    margin: 0; padding: 0;
}

/****** Les filtres ***********/

.filters-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 2%;
}

.filters-list {
    display: flex;
    flex-direction: row;
}

.bold {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.filters {
    border: solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 20px;
    margin-left: 14px;
}

.filters:hover {
    background-color: #DEEBFF;
}

/****** Infos Div ***********/

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2%;
}

.infos-icon {
    border: solid thin #F2F2F2;
    border-radius: 50%;
    margin-right: 1%;   
    padding: 4px 12px; 
}

/****** Hébergements ***********/

.hebergements-cards img {
    width: 100%;
    height: 132px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card {
    width: 30%;
    height: 207.25px;
    margin-top: 33px;
}

.hebergements-cards .card-content {
    width: 80%;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more-hebergements {
    display: flex;
    padding-top: 3%;
}

/****** Activités ***********/

.activities-cards .card img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 15px;
}

.activities-cards .card {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px;
}

.activities-cards .card h3 {
    padding: 5px 0px 5px 20px;
}

.activities-cards .card-title {
}

#activite-marseille .section-title {
    display: flex;
    margin: 62px 0px 30px 35px;
}

/****** Footer ***********/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    height: 189px;
    margin-top: 55px;
    margin-bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-right: auto;
}

.footer-title {
    font-size: 18px;
    margin-top: 2px;
}

.footer-list {
    list-style: none;
    padding: 0px;
}

.footer-list li {
    margin-top: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}